{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Fatec Helper</title>
    <base href="/" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}" />
    <style>
      html,
      body {
        height: 100%;
      }
    </style>
  <link rel="stylesheet" href="{% static 'styles.bbd7622f2c94cde27fae.css' %}"></head>
  <body>
    <app-root></app-root>
    <script src="{% static 'runtime.e227d1a0e31cbccbf8ec.js' %}" defer></script>
    <script src="{% static 'polyfills.4dc3b73f451c53467b36.js' %}" defer></script>
    <script src="{% static 'main.de1657bc959e65aeffde.js' %}" defer></script>
  </body>
</html>
